apiVersion: apps/v1
kind: Deployment
metadata:
  name: application
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: application
    spec:
      containers:
        - name: application
          image: gcr.io/PROJECT_ID/IMAGE:TAG
          ports:
            - containerPort: 4000
          resources:
            requests:
              cpu: 100m
            limits:
              cpu: 100m
